/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* wildcard selectors */
* {
    padding: 0;
    margin: 0;
}

/* CSS Variables */
:root {
    --primary-font: "Josefin Sans", sans-serif;
    --secondary-font: "Inter", sans-serif;
    --primary-color: #333333;
    --secondary-color: #00bcd4;
    --third-color: #004c99;
    --fourth-color: #66bb6a;
}

/* Global Style*/
body {
    height: 100vh;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

/* Main */
main {
    place-self: center;
    width: 90%;
}

/* Header */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    background-color: var(--secondary-color);
    padding: 20px;
    width: 100%;
    font-family: var(--primary-font);
}

#logo {
    width: 70px;
    border-radius: 5px;
}

#menu {
    gap: 20px;
}

ul {
    list-style: none;
}

#nav-toggle:checked~ul {
    display: block;
    background-color: transparent;
    flex: 100%;
}

nav label {
    margin-left: auto;
}

#menu a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
    font-weight: bold;
    font-size: 20px;
}

#menu a:hover {
    color: yellow;
}

#nav-toggle {
    display: none;
}

/* Welcome section */
.welcome {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5px;
    text-align: center; 
    width: 100%;
    height: 350px;
    background-image: url(../images/home-image-small.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--primary-color);
    overflow: auto;
    border-radius: 5px;
}

/* Services card section */
#services-card {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 10px;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    width: 100%;
    text-align: center;
    gap: 10px;
    padding: 5px;
    font-size: 16px;
}

.card-left,
.card-right {
    display: block;
    border: none;
    border-radius: 7px;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
    background-color: var(--fourth-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-left:hover,
.card-right:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card1-img-top {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: auto;
    max-height: 300px;
    border-radius: 7px 7px 0 0;
}

.btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-bottom: 10px;
    transition: transform 0.3s ease, color 0.3 ease;
}

  /* Services price section */
.services-price {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
}
.container2 {
    display: grid;
    height: auto;
    place-content: center;
}
.service-item {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid var(--primary-color);
    background-color: var(--fourth-color);
    height: auto;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}
.price-content {
    display: grid;
    align-content: space-between;
    width: 100%;
    height: auto;
    max-height: 350px;
    overflow: auto;

}
.card1-img-top1 {
    height: auto;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}
details {
    place-items: center;
    height: auto;
    width: 100%;
}
summary {
    list-style: none;
}
.inf {
    margin-bottom: 20px;
    font-size: 25px;
    color: var(--third-color);
    transition: transform 0.3s ease, color 0.3s ease;
}
.inf1 {
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 5px;
    transition: transform 0.3s ease, color 0.3s ease;
    margin: 5px;
}
.inf1:hover,
.btn:hover,
.inf:hover {
    transform: scale(1.2);
    background-color: yellow;
    color: var(--fourth-color);
}
.table tr,
.table th,
.table td {
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    font-weight: bold;
    text-align: left;
    margin: 0;
    width: 100%;
    padding-left: 3px;
}
/* Form Section */
#contact-form {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    width: 100%;
}
.form-container,
.select-options {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    width: 100%;
}
.wrrap-in {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    position: relative;
    width: 100%;
}
input[type="text"]:valid,
input[type="tel"]:valid,
input[type="email"]:valid,
input[type="datetime-local"]:valid,
select[id="stadt"]:valid,
select[id="dienstleistungen"]:valid,
select[id="monatspaket"]:valid,
textarea[id="anfrage"] {
    margin-bottom: 10px;
    border: 1px solid;
    border-color: green;
}
input[type="text"]:invalid,
input[type="tel"]:invalid,
input[type="email"]:invalid,
input[type="datetime-local"]:invalid,
select[id="stadt"]:invalid,
select[id="dienstleistungen"]:invalid,
select[id="monatspaket"]:invalid {
    margin-bottom: 10px;
    border: 1px solid;
    border-color: red;
}
input {
    text-indent: 0.3em;
}

#zeit {
    font-weight: bold;
    font-size: large;
}
.fa-check,
.fa-xmark {
    display: block;
    visibility: hidden;
    position: absolute;
    right: 10px;
    margin-top: 33px;
}
#vorname:valid~.fa-check,
#nachname:valid~.fa-check,
#email:valid~.fa-check,
#telefon:valid~.fa-check,
#strasse:valid~.fa-check,
#plz:valid~.fa-check {
    visibility: visible;
}
#vorname:focus:invalid~.fa-xmark,
#nachname:focus:invalid~.fa-xmark,
#email:focus:invalid~.fa-xmark,
#telefon:focus:invalid~.fa-xmark,
#strasse:focus:invalid~.fa-xmark,
#plz:focus:invalid~.fa-xmark {
    visibility: visible;
}
/* Privacy */
#datenschutzerklärung,
#impressum {
display:grid;
grid-template-columns: 1fr;
width: 90%;
justify-self: center;
justify-items: center;
}
#privacy {
    display: block;
    width: 100%;
}
/* About */
#about {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    justify-self: center;
}
.about {
    height: 400px;
    width: 100%;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    padding: 10px;
    gap: 10px;
    width: 90%;
    height: auto;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
    border-radius: 4px;

}
.contact,
#daten,
.opening-times {
    margin-left: 20px;
}

#daten a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: large;
    font-weight: bold;
    transition: transform 0.3s ease color 0.3 ease-in-out;
}

#daten a:hover {
    color: yellow;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links i {
    color: var(--primary-color);
    transition: transform 0.3 ease, color 0.3s ease;
}

.social-links i:hover {
    transform: scale(1.2);
    color: yellow;
}



/* Media queris */
@media screen and (min-width: 0px) and (max-width: 576px) {

    /* Header */
    #menu {
        display: none;
    }

}

@media screen and (min-width: 576px) and (max-width: 768px) {

    /* Body */
    body {
        font-size: 19px;
    }
    /* Header */
    #menu {
        display: none;
    }

    /* Welcome section */
    .welcome {
        background-image: url(../images/home-image.jpg);
        height: 350px;
        font-size: 16px;
    }

    .container1 {
        grid-template-columns: 1fr;
        font-size: 16px;
    }

    /* Services card section */
    .card1-img-top {
        height: 350px;
        object-fit: cover;
    }
      /* Service price section */
    
    .card1-img-top1 {
        height: 300px;
    }
    /* Footer */
    footer {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

}


@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Body */
    body {
        font-size: 19px;
    }
    
    /* header */
    nav label {
        display: none;
    }

    /* Welcome section */
    .welcome {
        background-image: url(../images/home-image.jpg);
        height: 400px;
    }

    /* Services card */
    .card1-img-top {
        height: 400px;
    }

    .container1 {
        grid-template-columns: 1fr 1fr;
       
    }
    /* Services price */
    
    .container2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-content: space-between;
        gap: 20px;
    }
       .price-content {
        height: 290px;
    }
        .card1-img-top1 {
        height: 300px;
    }

    /* footer */
    footer {
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .contact {
        grid-column: 1;
    }

    #daten {
        grid-column: 2;
    }

    .opening-times {
        grid-column: 3;
    }

}

@media screen and (min-width: 992px) {
    /* Body */
    body {
        font-size: 19px;
    }
    /* navbar */
    nav label {
        display: none;
    }

    /* Welcome section */
    .welcome {
        background-image: url(../images/home-image.jpg);
        height: 500px;
        font-size: 18px;
    }

    /* service card */
    .container1 {
        grid-template-columns: 1fr 1fr ;
        font-size: 18px;
        justify-content: space-between;
    }

    .card1-img-top {
        height: 400px;
    }

     /* Service price section */
    .container2 {
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        gap: 20px;
    }

    .price-content {
        height: 350px;
    }

    .card1-img-top1 {
        height: 300px;
    }

         /* Form section */
    .form-container {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    .wrrap-in~#vorname,
    .wrrap-in~#telefon,
    .wrrap-in~#stadt,
    .wrrap-in~#zeit {
        grid-column: 1;
    }

    .wrrap-in~#nachname,
    .wrrap-in~#strasse,
    .wrrap-in~#dienstleistungen,
    .btn {
        grid-column: 2;
    }

    .wrrap-in~#email,
    .wrrap-in~#plz,
    .wrrap-in~#monatspaket,
    #anfrage {
        grid-column: 3;
    }

    #anfrage {
        width: auto;
        height: 50px;
    }
    /* Footer */
    footer {
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .contact {
        grid-column: 1;

    }

    #daten {
        grid-column: 2;

    }

    .opening-times {
        grid-column: 3;

    }

}
@media screen and (min-width: 1200px) {
    /* Body */
    body {
        font-size: 20px;
    }
     /* navbar */
    nav label {
        display: none;
    }

    /* Welcome section */
    .welcome {
        background-image: url(../images/home-image.jpg);
        height: 500px;
        font-size: 18px;
    }

    /* service card */
    .container1 {
        grid-template-columns: 1fr 1fr  ;
        font-size: 20px;
    }

    .card1-img-top {
        height: 400px;
    }

    /* Footer */
    footer {
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 20px;
        justify-items: center;

    }

    .contact {
        grid-column: 1;

    }

    #daten {
        grid-column: 2;

    }

    .opening-times {
        grid-column: 3;

    }

}